.palette-turquoise {
	background-color: #2EDFD2;
	color: #333;
}

.palette-teal {
	background-color: #005361;
	color: #FFF;
}

.palette-grey {
	background-color: #333;
	color: #FFF;
}

.palette-pine {
	background-color: #00A030;
	color: #FFF;
}

.palette-lime {
	background-color: #9EE52C;
	color: #333;
}

.palette-orange {
	background-color: #FF8C00;
	color: #333;
}
